{% extends "base.html" %} {% block start %}
<div class="container mt-5">
  <form
    class="col-6 mx-auto card p-3 shadow-lg"
    action=""
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputname" class="form-label">Receipe Name</label>
      <input
        name="receipe_name"
        value="{{receipe.receipe_name}}"
        required
        type="text"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputdescription" class="form-label"
        >Receipe Description</label
      >
      <textarea class="form-control" value="" name="receipe_des" required>
{{receipe.receipe_des}}</textarea
      >
    </div>
    <div class="mb-3 form-check">
      <label for="exampleInputdescription" class="form-label"
        >Receipe Image</label
      >
      <input name="receipe_img" type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Update Receipe</button>
  </form>
</div>
{% endblock %}
